django==4.1.5
channels==4.0.0
daphne==4.0.0
channels-redis==4.0.0
psycopg2-binary==2.9.5
django-decouple==2.1
pillow==9.4.0
django-cleanup==6.0.0
# requests
# django-filter
# pyotp
# daphne
# django-debug-toolbar
# django-crontab
# jdatetime
# gunicorn 
